# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Log and coverage files
pip-log.txt
pip-delete-this-directory.txt
*.log
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
env/
venv/
ENV/
telegram_bot/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.history

# Jupyter Notebook
.ipynb_checkpoints

# Others
*.mo
*.pot
.python-version
target/
profile_default/
ipython_config.py
__pypackages__/
